@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "vars.scss";

.my-icon {
  font-family: 'my-icon';
}

.my-icon-saving::before {
  content: '\ec1a';
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px !important;
  background-color: $bg-color;
  color: $secondary-color;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  display: block;
  padding-top: $header-height + 1rem;
  padding-left: $content-container-padding;
  padding-right: $content-container-padding;
}

.desc {
  padding-top: .75rem;
  img {
    max-width: 100%;
    border-radius: $border-radius;
  }
}

.bg-light-blue {
  padding: .75rem;
  background-color: $guichet-green;
  border-radius: $border-radius;
}

.bg-red {
  padding: .75rem;
  background-color: $guichet-red;
  border-radius: $border-radius;
}

.bg-gray {
  margin-top: .75rem;
  padding: .75rem;
  background-color: $sylbaa-gray;
  border-radius: $border-radius;
}

.bg-dark-blue {
  margin-top: .75rem;
  padding: .75rem;
  background-color: $sylba-blue;
  border-radius: $border-radius;
  color: #FFFFFF;
}
