@import "vars.scss";
.van-tabbar{
  background: $sylba-blue;
}

.van-tabbar-item {
  color: white;
  &--active {
    color: $sylba-green;
    background-color: $sylba-blue;
  }
}

.van-image__image[style] {
  object-fit: scale-down !important;
}

.van-card__title van-multi-ellipsis--l2 {
  font-weight: 900;
}

:root {
  --van-font-weight-bold: 900;
}


