@import "vars.scss";

.van-tabbar {
  background: #4470a6;
}

.van-tabbar-item {
  color: #94CDFF;
  &--active {
    color: white;
    background-color: #4470a6;
  }
}

.van-image__image[style] {
  object-fit: scale-down !important;
}

.van-card__title van-multi-ellipsis--l2 {
  font-weight: 900;
}

:root {
  --van-font-weight-bold: 900;
}


