// FONTS
$font-stack: Montserrat, sans-serif;

// HEADER
$header-height: 4.875rem;
//$header-height: 5rem;
$header-bg-color: #5f5f5f;
$logo-height: 3.5rem;

// CONTENT
$header-logo-padding: 1rem;
$content-padding: 1.25rem;
$bottom-padding: 5rem;
$content-container-padding: .5rem;

$border-radius: 0.781rem;
//1.563rem

// WATCH
$watch-img-height: 25rem;

$primary-color: #080808;
$secondary-color: #787878;
$bg-color:#FFFFFF;

$sylba-green: #D7FFD7;
$col2: #94CDFF;
$col3: #C8F5FF;
$sylba-blue: #008AFC;
$sylbaa-light-blue: #94CDFF;
$sylbaa-gray: #f5f5f5;

$guichet-green: #677f24;
$guichet-red: #a4383c;
